.dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    #121212 0%,
    #2c2b2b 36.25%,
    #151515 75.31%,
    #1c1c1c 100%
  );
  min-height: 100vh;
}
.bottom-dash {
  margin-top: 40px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 20px;
  padding-bottom: 40px;
}
