.promote-desc {
  font-weight: 300;
  font-size: 23px;
  line-height: 187.52%;
  color: #ffffff;
}
.promote-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 40px;
  background: #1b1b1b;
  box-shadow: 1px 1px 42px 9px rgba(81, 80, 80, 0.25);
  border-radius: 27px;
}
.promote-col {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1186px;
}
.promote-col .row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.promote-col .row h2 {
  font-weight: 500;
  font-size: 38px;
  width: max-content;
  color: #ffffff;
}
.promote-col .row input {
  width: 100%;
  background: #000000;
  border-radius: 10px;
  border: none;
  color: white;
  height: 65px;
  font-size: 18px;
  padding-left: 40px;
  max-width: 680px;
}
.promote-col .row input:focus {
  outline: none;
}
.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btn-div button {
  border: none;
  width: 258px;
  height: 48px;
  font-weight: 500;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  cursor: pointer;
}
.blue-btn {
  background-color: var(--blue);
}
.cancel-btn {
  background: #cd0000;
}
@media screen and (max-width: 1400px) {
  .promote-box .row h2 {
    font-size: 30px;
  }
  .promote-box .row input {
    height: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .promote-box .row h2 {
    font-size: 22px;
  }
  .promote-box .row input {
    height: 55px;
  }
  .promote-box {
    padding-inline: 20px;
  }
}
@media screen and (max-width: 1061px) {
  .promote-box .row input {
    max-width: 600px;
  }
}
@media screen and (max-width: 985px) {
  .promote-desc br {
    display: none;
  }
  .title {
    font-size: 40px;
  }
  .promote-box {
    gap: 70px;
  }
  .promote-col {
    gap: 20px;
    align-items: center;
  }
  .promote-col .row {
    flex-direction: column;
  }
  .promote-box .row input {
    width: 100%;
    max-width: 100%;
  }
  .btn-div {
    width: 100%;
  }
  .btn-div button {
    height: 50px;
    font-size: 18px;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .promote-desc {
    font-size: 16px;
  }
  .title {
    font-size: 30px;
  }
  .title img {
    width: 40px;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: 25px;
  }
  .title img {
    width: 40px;
  }
}
