.token {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 55px;
  gap: 20px;
}
.title img {
  width: 66.43px;
  height: 25.14px;
}
.token-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  width: 100%;
  gap: 20px;
}
.grid-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1b1b1b;
  box-shadow: 1px 1px 42px 9px rgba(81, 80, 80, 0.25);
  border-radius: 27px;
  padding: 20px;
  gap: 20px;
}
.grid-box h2 {
  color: var(--blue);
  font-weight: 500;
  font-size: 38px;
}
.grid-box p {
  background: #000000;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  padding-block: 10px;
  color: white;
  font-weight: 300;
  font-size: 35px;
  display: grid;
  place-items: center;
}
.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-inline: 10px;
  background: #000000;
  border-radius: 10px;
  overflow: hidden;
  max-width: 191px;
  width: 100%;
  height: 59px;
}
.input-div input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 16px;
}
.input-div input:focus {
  outline: none;
}
.grid-box h3 {
  color: var(--blue);
  font-size: 28px;
  font-weight: 500;
}
.input-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.input-col h4 {
  font-weight: 500;
  font-size: 28px;
  color: white;
}
@media screen and (max-width: 860px) {
  .token-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 30px;
  }
  .title img {
    width: 40px;
  }
  .grid-box h2 {
    font-size: 28px;
  }
  .grid-box p {
    font-size: 20px;
  }
}
@media screen and (max-width: 457px) {
  .input-row {
    flex-direction: column;
    width: 100%;
  }
  .input-div {
    max-width: 100%;
  }
  .input-col h4 {
    font-size: 22px;
  }
}
